#cart2
{
  
    transform: translateY(-200px) translateX(250px) scale(2.0);
    
}
#love2
{
  
    transform: translateY(-160px) translateX(230px) scale(2.0);
    
}
#view2
{
  
    transform: translateY(-230px) translateX(210px) scale(2.0);
    
}
#cart1
{
  
    transform: translateY(-200px) translateX(240px) scale(2.0);
    
}
#love1
{
  
    transform: translateY(-160px) translateX(220px) scale(2.0);
    
}
#view1
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart3
{
    
    transform: translateY(-180px) translateX(260px) scale(2.0);
    
}
#love3
{
  
    transform: translateY(-160px) translateX(240px) scale(2.0);
    
}
#view3
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart4
{
    
    transform: translateY(-190px) translateX(260px) scale(2.0);
    
}
#love4
{
  
    transform: translateY(-170px) translateX(240px) scale(2.0);
    
}
#view4
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart5

{
    
    transform: translateY(-190px) translateX(260px) scale(2.0);
    
}
#love5
{
  
    transform: translateY(-170px) translateX(240px) scale(2.0);
    
}
#view5
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart9
{
    
    transform: translateY(-180px) translateX(260px) scale(2.0);
    
}
#love9
{
  
    transform: translateY(-160px) translateX(240px) scale(2.0);
    
}
#view9
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart8
{
    
    transform: translateY(-190px) translateX(260px) scale(2.0);
    
}
#love8
{
  
    transform: translateY(-160px) translateX(240px) scale(2.0);
    
}
#view8
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart6
{
    
    transform: translateY(-180px) translateX(260px) scale(2.0);
    
}
#love6
{
  
    transform: translateY(-160px) translateX(240px) scale(2.0);
    
}
#view6
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart7
{
    
    transform: translateY(-180px) translateX(260px) scale(2.0);
    
}
#love7
{
  
    transform: translateY(-160px) translateX(240px) scale(2.0);
    
}
#view7
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart10
{
    
    transform: translateY(-180px) translateX(240px) scale(2.0);
    
}
#love10
{
  
    transform: translateY(-160px) translateX(240px) scale(2.0);
    
}
#view10
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
#cart11
{
    
    transform: translateY(-180px) translateX(260px) scale(2.0);
    
}
#love11
{
  
    transform: translateY(-160px) translateX(240px) scale(2.0);
    
}
#view11
{
  
    transform: translateY(-230px) translateX(220px) scale(2.0);
    
}
.tmp

{
    visibility: hidden;
}
.hand-icon
{
    cursor: pointer;
}
.filter
{
    /* transform: translateX(300px),translateY(700px); */
    /* margin-top: 400PX; */
    /* padding-top: 400px; */
    /* margin-bottom: 400px; */
    padding-bottom: 400px;
}
.icon
{
    transition: 0.2s linear all;
    
    
}

/* #bear:hover .icon { */
    /* transform: translateX(200px),translateY(300px); Khi di chuột vào hình ảnh, đưa icon về vị trí ban đầu */
  /* } */
  
  /* #bear:hover .icon.icon2 { */
    /* transform: translateX(-1px),translateY(300px); Khi di chuột vào hình ảnh, di chuyển icon sang bên phải 100px */
  /* } */